@font-face {
  font-family: 'Rubik';
  font-weight: bold;
  font-style: normal;
  src: local('Rubik'), url('../fonts/rubik/Rubik-Bold.woff2') format('woff2'),
    url('../fonts/rubik/Rubik-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  font-style: normal;
  src: local('Rubik'), url('../fonts/rubik/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/rubik/Rubik-Regular.woff') format('woff');
  font-display: swap;
}
