@import 'variables';
@import 'mixins/media';
@import 'fonts';
@import 'libs';
@import 'reset';

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  color: var(--primary-color);
  background-color: var(--page-bg);

  font: var(--font-m);
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1238px;
  margin: 0 auto;
  padding: 0 15px;
}

.icon {
  width: 24px;
  height: 24px;
}
.title {
  font: var(--font-title);
  @include max-w(992) {
    font-size: var(--font-size-title-s);
  }
  @include max-w(767) {
    font-size: var(--font-size-l);
  }
}
@import '../blocks/index.scss';

@import 'media';
